<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Signup / Registration form using Material Design - Demo by W3lessons</title>
  <!-- CORE CSS-->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<style type="text/css">
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
body{
   background: url("static/sig.jpg"); width: 100%; 
}
</style>
  
</head>

<body class="">



  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form action="" method="POST">
         {% csrf_token %}
         {% if error %}
         <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
      
        <div class="row">
          <div class="input-field col s12 center">
            <img src="" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text"> SignUp Form</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
           <input type="text" name="firstname" 
           id="" value="{{values.firstname}}" class="validate">
            <label for="firstname" class="center-align"></label>
           
          </div>
        </div>
        <div class="row margin">
         <div class="input-field col s12">
           <i class="mdi-social-person-outline prefix"></i>
           <input type="text" name="lastname" 
           id="" value="{{values.last_name}}" class="validate">
           <label for="lastname" class="center-align"></label>
         </div>
       </div>
       <div class="row margin">
         <div class="input-field col s12">
           <i class="mdi-communication-phone prefix"></i>
           <input type="text" name="phone" 
           id="" value="{{values.phone}}" class="validate">
           <label for="Phone" class="center-align"></label>
         </div>
       </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input required type="email" name="email" id=""
            value="{{values.email}}" class="validate">
            <label for="email" class="center-align"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" name="password" id="" value="{{values.password}}" class="validate">
            <label for="password"></label>
          </div>
        </div>
        
        </div>
        <div class="row">
         
          <div class="form-group">
            <input class="btn btn-sm btn-info" type="submit" value="Create An Account ">
        </div>
        </div>
      </form>
    </div>
  </div>



   
</body>

</html>